
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Description">
    <div class="alms-margin">
      <p>As I felt the disturb in the Force by the prank of this challenge 😜, the
      game actually does:</p>
      <ul>
        <li>Checks if a clear winner has emerged and disables player's moves</li>
        <li>Checks if a no-win situation has occurred</li>
        <li>Disables the "current player" message and enables the "new game
        button" if one of the previous occurs</li>
      </ul>
    </div>
  </mat-tab>

  <mat-tab label="Tic Tac Toe">
    <div class="alms-margin">
      <h1 *ngIf="!showNewGameBtn()">Current Player: {{ player }}</h1>


      <!-- Only shows the button if the "winner" has a value or if there is no more
        squares to play -->
        <!-- Bidding the "newGame" method to the "click" event -->
        <button mat-stroked-button color="primary" *ngIf="showNewGameBtn()" (click)="newGame()">Start new Game</button>
        <!-- <button mat-stroked-button color="primary" *ngIf="winner || !squares" (click)="newGame()">Start new Game</button> -->

        <!-- Only shows the title if the "winner" has a value -->
        <h2 *ngIf="winner">
          Player {{ winner }} won the game !!!
          <br/>
        </h2>

        <!-- Only shows the title if no winner has emerged from the current game -->
        <h2 *ngIf="noWin()">
          No winner has emerged from the current game...
        </h2>


        <main>
          <!-- Loop the create the placeholders -->
          <!-- Setting the string value to the buttons -->
          <!-- Bidding the "makeMove" method, with the for loop "i" variable as parameter, to the "click" event -->
          <app-square
            *ngFor="let val of squares; let i = index"
            [value]="val"
            (click)="makeMove(i)"
            >

          </app-square>
        </main>
      </div>
  </mat-tab>
  <mat-tab label="Phone Book">
    <div class="alms-margin">
      <p>Entradas do form servindo para popular a tabela abaixo. Que será
      automagicamente ordenada pelo campo lastName</p>
      <app-phoneBook></app-phoneBook>
    </div>
  </mat-tab>
</mat-tab-group>



